    {% extends 'layout.html' %}
    
    {% block title %}
        <title>enlaces - {{ blog_name }}</title>
    {% endblock %}
    
    {% block content %}
    
        <article>
            <div class="post-content">
                <ul class="list-square">
                    <li><a target="_blank" href="https://www.vulnhub.com/">VulnHub | Practice computer security</a></li>
                    <li><a target="_blank" href="https://www.pentesterlab.com/">PentesterLab | Learn web penetration testing</a></li>
                    <li><a target="_blank" href="http://wiki.bash-hackers.org/start">The Bash Hackers Wiki</a></li>
                    <li><a target="_blank" href="http://www.commandlinefu.com/commands/browse">commandlinefu.com | Command line snippets</a></li>
                    <li><a target="_blank" href="http://www.devttys0.com/blog/">/dev/ttyS0 | Embedded Device Hacking</a></li>
                    <li><a target="_blank" href="http://stackoverflow.com/questions/2573135/python-progression-path-from-apprentice-to-guru/2576240#2576240">Python progression path - From apprentice to guru</a></li>
                    <li><a target="_blank" href="http://www.fuzzysecurity.com/index.html">FuzzySecurity: Hacking tutorials</a></li>
                    <li><a target="_blank" href="http://www.websec.ca/kb/sql_injection">The SQL Injection Knowledge Base</a></li>
                    <li><a target="_blank" heref="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">Flask microframework tutorial</a></li>
                    <li><a target="_blank" href="http://stackoverflow.com/questions/5400806/what-are-the-most-used-vim-commands-keypresses/5400978#5400978">VIM shortcuts cheat sheet</a></li>
                    <li><a target="_blank" href="https://realpython.com/blog/python/vim-and-python-a-match-made-in-heaven/">VIM and Python - a Match Made in Heaven</a></li>
                    <li><a target="_blank" href="https://codegangsta.gitbooks.io/building-web-apps-with-go/content/index.html">Building Web Apps with Go</a></li>
                </ul>
            </div>
        </article>
    
    {% endblock %}