  <!DOCTYPE html>
  <html lang="{{ lang }}">
    <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=endge, chrome=IE8" />
      <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no" />
      <meta name="keywords" content="{{ tags }}" />
      <meta name="description" content="{{ blog_description }}" />
      <meta name="author" content="{{ author }}" />
      {% block title %}
        <title>{{ blog_name }}</title>
      {% endblock %}
      <!--[if lte IE 8]><script type="text/javascript" src="/theme/js/html5shiv.js"></script><![endif]-->
      <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" type="text/css" href="css/theme.css" />
      <link rel="stylesheet" type="text/css" href="css/pygment.css" />
      <link rel="shortcut icon" type="image/png" href="/favicon.png" />
      <!--[if lte IE 8]><link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" /><![endif]-->
    </head>
    <body>
        <div class="container">
        <header id="menu">
            <nav>
                <ul>
                    <li><a href="index.html">inicio</a></li>
                    <li><a target="_blank" href="https://github.com/aljavier">github</a></li>
                    <li><a href="enlaces.html">enlaces</a></li>
                    <li><a href="about.html">acerca</a></li>
                </ul>
                <h4>{{ blog_name }}</h4>
            </nav>
        </header>
         
         {% block content %}
          
         {% endblock %}
       
        <footer id="page-foot">
            <p>
                Contenido bajo licencia <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode"> CC BY-SA</a> 
                | Powered by <a href="https://www.python.org/">Python</a> &copy;
            </p>
        </footer>
        </div>
        <!-- Google Analytics here -->
        <script type="text/javascript">
        var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-45917501-1']);
            _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); 
          ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    </body>
    </html>