.year{text-align:right;border-bottom:1px solid #ddd;color:#708090;}
.month{}
.day{padding-right:5px;font-style:italic;color:#C0C0C0;font-weight:bold;}
.hll{background-color:#FFFFCC;}
.c{color:#8F5902;font-style:italic;}
.err{border-bottom-color:#EF2929;border-bottom-style:solid;border-bottom-width:1px;border-top-color:#EF2929;border-top-style:solid;border-top-width:1px;color:#A40000;}
.g{color:#DCDCDC;}
.k{color:#204A87;font-weight:bold;}
.l{color:#DCDCDC;}
.n{color:#DCDCDC;}
.o{color:#CE5C00;font-weight:bold;}
.x{color:#DCDCDC;}
.p{color:#DCDCDC;font-weight:bold;}
.cm{color:#8F5902;font-style:italic;}
.cp{color:#8F5902;font-style:italic;}
.c1{color:#8F5902;font-style:italic;}
.cs{color:#8F5902;font-style:italic;}
.gd{color:#A40000;}
.ge{color:#DCDCDC;font-style:italic;}
.gr{color:#EF2929;}
.gh{color:#000080;font-weight:bold;}
.gi{color:#00A000;}
.go{color:#DCDCDC;font-style:italic;}
.gp{color:#8F5902;}
.gs{color:#DCDCDC;font-weight:bold;}
.gu{color:#800080;font-weight:bold;}
.gt{color:#A40000;font-weight:bold;}
.kc{color:#204A87;font-weight:bold;}
.kd{color:#204A87;font-weight:bold;}
.kn{color:#204A87;font-weight:bold;}
.kp{color:#204A87;font-weight:bold;}
.kr{color:#204A87;font-weight:bold;}
.kt{color:#204A87;font-weight:bold;}
.ld{color:#DCDCDC;}
.m{color:#0000CF;font-weight:bold;}
.s{color:#4E9A06;}
.na{color:#C4A000;}
.nb{color:#204A87;}
.nc{color:#DCDCDC;}
.no{color:#DCDCDC;}
.nd{color:#5C35CC;font-weight:bold;}
.ni{color:#CE5C00;}
.ne{color:#CC0000;font-weight:bold;}
.nf{color:#DCDCDC;}
.nl{color:#F57900;}
.nn{color:#DCDCDC;}
.nx{color:#DCDCDC;}
.py{color:#DCDCDC;}
.nt{color:#204A87;font-weight:bold;}
.nv{color:#DCDCDC;}
.ow{color:#204A87;font-weight:bold;}
.w{color:#F8F8F8;text-decoration:underline;}
.mf{color:#0000CF;font-weight:bold;}
.mh{color:#0000CF;font-weight:bold;}
.mi{color:#0000CF;font-weight:bold;}
.mo{color:#0000CF;font-weight:bold;}
.sb{color:#4E9A06;}
.sc{color:#4E9A06;}
.sd{color:#8F5902;font-style:italic;}
.s2{color:#4E9A06;}
.se{color:#4E9A06;}
.sh{color:#4E9A06;}
.si{color:#4E9A06;}
.sx{color:#4E9A06;}
.sr{color:#4E9A06;}
.s1{color:#4E9A06;}
.ss{color:#4E9A06;}
.bp{color:#3465A4;}
.vc{color:#DCDCDC;}
.vg{color:#DCDCDC;}
.vi{color:#DCDCDC;}
.il{color:#0000CF;font-weight:bold;}
pre{color:#7F7F7F;}
.codehilite:before, .codehilite:after {content: " ";position: absolute;z-index: -1;transform: skew(-3deg,-2deg);-ms-transform: skew(-3deg,-2deg);-webkit-transform: skew(-3deg,-2deg);-o-transform: skew(-3deg,-2deg);-moz-transform: skew(-3deg,-2deg);bottom: 14px;box-shadow: 0px 15px 5px #aaa;height: 50px;left: 1px;max-width: 50%;width: 50%;}
.codehilite:after {transform: skew(3deg,2deg);-ms-transform: skew(3deg,2deg); -webkit-transform: skew(3deg,2deg);-o-transform: skew(3deg,2deg);-moz-transform: skew(3deg,2deg);left:auto;right:1px;}
.codehilite {position:relative;padding:1px;margin:15px;box-shadow:0px 0px 1px 1px #ccc;}

